<h2>Reservations</h2>
<table class="table table-striped table-bordered" ng-repeat="reservation in reservations">
    <caption>Reservation</caption>
    <thead>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Reservation Date</th>
        <th>Covers</th>
        <th>E-mail</th>
        <th>Phone Number</th>
    </thead>
    <tr class="info">
        <td>{{reservation.firstName}}</td>
        <td>{{reservation.lastName}}</td>
        <td>{{reservation.date}}</td>
        <td>{{reservation.covers}}</td>
        <td>{{reservation.email}}</td>
        <td>{{reservation.phoneNumber}}</td>
    </tr>
</table>
